<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Autoservicio</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/images/favicon.ico}"/>

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <!-- End layout styles -->
  </head>
  <body>


  <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/"><img src="images/liquis/logo.png" alt="logo" class="h-100" /></a>
          <a class="navbar-brand brand-logo-mini" href="/"><img src="images/liquis/mini_logo.png" alt="logo" class="h-100"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>

          <div class="col-sm-7 align-self-center text-center" style="font-family:'Arial Black'; font-weight: 900; color:#582580; font-size: large">
            CONTROL DE INVENTARIO Y EMPLEADOS LIQUIS
          </div>

          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="images/faces-clipart/pic-2.png" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black" th:text="${user}"></p>
                </div>
              </a>


              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" th:href="@{/logout}"  href="/logout">
                  <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
              </div>
            </li>



            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" th:href="@{/logout}"  href="/logout">
                <i class="mdi mdi-power"></i>
              </a>
            </li>

          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile border-top">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="images/faces-clipart/pic-2.png" alt="profile">
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2"th:text="${user}"></span>
                  <span class="text-secondary text-small">Actualmente Activo</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item border-top">
              <a class="nav-link" href="/">
                <span class="menu-title">Farmacia</span>
                <i class="mdi mdi-pill menu-icon"></i>
              </a>
            </li>
            <li class="nav-item border-top active">
              <a class="nav-link" href="/Autoservicio">
                <span class="menu-title">Autoservicio</span>
                <i class="mdi mdi-cart menu-icon"></i>
              </a>
            </li>
            <li class="nav-item border-top">
              <a class="nav-link" href="/Empleado">
                <span class="menu-title">Empleados</span>
                <i class="mdi mdi-human-greeting menu-icon"></i>
              </a>
            </li>


            <li class="nav-item nav-profile-image border-top">
              <div>
                <img src="images/liquis/cart1.png" alt="logo" class="h-auto w-100"/>
              </div>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper img-fluid" style="background-image: url('images/liquis/market.jpg'); width: 100%;background-size: cover; background-repeat: repeat; background-position: center;">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
            <div th:switch="${productos}" class="card-body">
                  <h2 th:case="null">No productos yet!</h2>
                  <div th:case="*">
                    <h2 class="my-3">Productos</h2>
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th class="">#</th>
                        <th class="">Nombre</th>
                        <th class="">Categoria</th>
                        <th class="">Precio</th>
                        <th>Cantidad</th>
                        <th class="">Editar</th>
                        <th class="">Borrar</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="producto : ${productos}">
                        <td th:text="${producto.id}"></td>
                        <td th:text="${producto.nombre}"></td>
                        <td th:text="${producto.categoria}"></td>
                        <td th:text="${producto.precio}"></td>
                        <td th:text="${producto.cantidad}"></td>
                        <td><a th:href="@{/EditarAutoservicio/{id}(id=${producto.id})}" class="btn btn-outline-primary btn-rounded btn-sm"><i class="mdi mdi-pencil"></i></a></td>
                        <td><a th:href="@{/EliminarAutoservicio/{id}(id=${producto.id})}" class="btn btn-outline-dark btn-rounded btn-sm" ><i class="mdi mdi-delete"></i></a></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <p class="my-5 font-weight-bold"><a href="/AgregarAutoservicio" class="btn-gradient-primary btn-lg font-weight-bold"><i class="mdi mdi-cart-plus"></i>    Agregar</a></p>
            </div>
            </div>
            </div>
            </div>


          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="https://liquismexico.com/" target="_blank">Liquis</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->

  <script type="text/javascript" th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script type="text/javascript" th:src="@{/js/off-canvas.js}"></script>

  <script type="text/javascript" th:src="@{/js/hoverable-collapse.js}"></script>

  <script type="text/javascript" th:src="@{/js/misc.js}"></script>

  <!-- endinject -->
  <!-- Custom js for this page -->

  <!-- End custom js for this page -->
  </body>
</html>